body {
  background-image: url("https://cdn.glitch.com/89979aba-b63e-4125-a86b-cd8a02f2d0fb%2FGame%20over.png?v=1594396145635");
  background-size: 0px;
  text-align: center;
}

img:not(.snowflake) {
  border: 3px solid black;
  width: 100px;
}

p {
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  padding: 1px;
}

.questions {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
  background-color: #CCCCCC;
}

img.selected {
  border: 3px solid rgba(30, 70, 240, 0.3);
}

p.selected {
  background-color: rgba(30, 70, 240, 0.3);
}

img.selected.correct {
  border: 3px solid rgba(30, 240, 70, 0.3);
}

p.selected.correct {
  background-color: rgba(30, 240, 70, 0.3);
}

#submit {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.snowflake {
  width: 40px;
}
#snowflake {
  display: none;
}
